/* platform game */

.background {
    background: rgb(52, 166, 251);
    table-layout: fixed;
    border-spacing: 0;
}

.background td {
    padding: 0;
}

.lava {
    background: rgb(255, 100, 100);
}

.wall {
    background: white;
}

.actor {
    position: absolute;
}

.coin {
    background: rgb(241, 229, 89)
}

.player {
    background: rgb(64, 64, 64);
}

.lost .player {
    background: rgb(160, 64, 64);
}

.won .player {
    box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.game {
    overflow: hidden;
    max-width: 600px;
    max-height: 450px;
    position: relative;
}

/* controls overlay canvas */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid grey; */
    /* debug */
}

html,
body {
    background-color: rgb(52, 166, 251);;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
}

.full-screen {
    width: 100%;
    height: 100%;
}

.overlay {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 5;
}